<a href="https://colab.research.google.com/github/fatemehes75/NLP_projects/blob/main/Sentiment_Analysis_Of_IMDb_movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sentiment Analysis Of IMDb movie

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [2]:
# Check for the existence of NaN values 
df.isnull().sum()

label      0
review    35
dtype: int64

In [3]:
df.dropna(inplace=True)
len(df)

1965

In [4]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [5]:
# REMOVE EMPTY STRINGS
blanks = [] 

for i,lb,rv in df.itertuples():  # iterate over the DataFrame          
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

df.drop(blanks, inplace=True)

In [6]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

## Sentiment Intensity Analyzer

In [7]:
import nltk
nltk.download('vader_lexicon')

from nltk.sentiment.vader import SentimentIntensityAnalyzer

sent_anlz = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [8]:
df['scores'] = df['review'].apply(lambda review: sent_anlz.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [9]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [10]:
accuracy_score(df['label'],df['comp_score'])

0.6357069143446853

In [11]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [12]:
print(confusion_matrix(df['label'],df['comp_score']))

[[427 542]
 [164 805]]